<a href="https://colab.research.google.com/github/wcj365/data690fall21/blob/main/survey_responses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data 690 Fall 2021 Survey Results

https://re-thought.com/how-to-change-or-update-a-cell-value-in-python-pandas-dataframe/

In [36]:
import pandas as pd
import plotly.graph_objects as go
import plotly.io as pio
import numpy as np

pio.templates

Templates configuration
-----------------------
    Default template: 'plotly'
    Available templates:
        ['ggplot2', 'seaborn', 'simple_white', 'plotly',
         'plotly_white', 'plotly_dark', 'presentation', 'xgridoff',
         'ygridoff', 'gridon', 'none']

In [10]:
# df = pd.read_csv('/content/sample_data/california_housing_test.csv')    read sample dataset from Google Colab
df = pd.read_csv("survey_responses.csv")                       # read user uploaded dataset
df.head()

            Timestamp  ... 12. List other courses taking this semester (specify both course number and title)
0  8/27/2021 19:50:06  ...                                                NaN
1  8/28/2021 20:55:50  ...  DATA601- Introduction to data science\nENMG652...
2  8/29/2021 12:53:39  ...  HIT 663: Health IT policy and administration \...
3   8/30/2021 9:19:17  ...                                                NaN
4  8/30/2021 12:49:36  ...  601- Introduction to Data Science  604 - Datab...

[5 rows x 13 columns]

In [3]:
df.describe()

                 Timestamp  ... 12. List other courses taking this semester (specify both course number and title)
count                   16  ...                                                 13
unique                  16  ...                                                 13
top     8/31/2021 11:20:28  ...                  last sem , last course only this
freq                     1  ...                                                  1

[4 rows x 13 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 13 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   Timestamp                                                                           16 non-null     object
 1   1. My primary educational background                                                16 non-null     object
 2   2. My primary job function                                                          16 non-null     object
 3   3. My level of computer programing knowledge                                        16 non-null     object
 4   4. My level of Python progrmming knowledge                                          16 non-null     object
 5   5. My level of Statistics knowledge                                                 16 non-null     object
 6   6. My Familarity with GitHub                                                        15 non-null     object
 7   7. My gender                                                                        16 non-null     object
 8   8. My Birth Year                                                                    16 non-null     object
 9   9. What do you enjoy doing in your leisure time?                                    16 non-null     object
 10  10. What do you expect to get out of this course?                                   16 non-null     object
 11  11. What is your long-term career plan?                                             16 non-null     object
 12  12. List other courses taking this semester (specify both course number and title)  13 non-null     object
dtypes: object(13)
memory usage: 1.8+ KB

In [11]:
df.columns

Index(['Timestamp', '1. My primary educational background',
       '2. My primary job function',
       '3. My level of computer programing knowledge',
       '4. My level of Python progrmming knowledge',
       '5. My level of Statistics knowledge', '6. My Familarity with GitHub',
       '7. My gender', '8. My Birth Year',
       '9. What do you enjoy doing in your leisure time?',
       '10. What do you expect to get out of this course?',
       '11. What is your long-term career plan?',
       '12. List other courses taking this semester (specify both course number and title)'],
      dtype='object')

In [15]:
columns = [df.columns[0]]
for i in range(1, 13):
    columns.append("Q" + str(i))
print(columns)

['Timestamp', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12']

In [16]:
df.columns = columns
df.sample(3)

             Timestamp  ...                                                Q12
13   9/2/2021 10:27:53  ...  Data 601 introduction to data science \nData 6...
7   8/30/2021 19:33:48  ...  DATA 601 Introduction to Data Science,DATA 605...
14   9/2/2021 10:29:14  ...  DATA 601(Introduction to Data Science)\nDATA 6...

[3 rows x 13 columns]

In [17]:
df["Q1"].unique()

array(['STEM (Science, Technology, Engineering, Math)',
       'Business, Management, Politics, Law, etc.',
       'Computer science and engineering ',
       'Master of Science in Applied Mathematics'], dtype=object)

In [19]:
df["Q1"]

0     STEM (Science, Technology, Engineering, Math)
1     STEM (Science, Technology, Engineering, Math)
2     STEM (Science, Technology, Engineering, Math)
3     STEM (Science, Technology, Engineering, Math)
4     STEM (Science, Technology, Engineering, Math)
5     STEM (Science, Technology, Engineering, Math)
6     STEM (Science, Technology, Engineering, Math)
7     STEM (Science, Technology, Engineering, Math)
8     STEM (Science, Technology, Engineering, Math)
9     STEM (Science, Technology, Engineering, Math)
10    STEM (Science, Technology, Engineering, Math)
11        Business, Management, Politics, Law, etc.
12    STEM (Science, Technology, Engineering, Math)
13                Computer science and engineering
14         Master of Science in Applied Mathematics
15    STEM (Science, Technology, Engineering, Math)
Name: Q1, dtype: object

In [18]:
df["Q2"].unique()

array(['Technology-oriented', 'Unemployeed', 'Business/Service-oriented'],
      dtype=object)

In [22]:
df.at[13,"Q1"] = "STEM (Science, Technology, Engineering, Math)"
df.at[14,"Q1"] = "STEM (Science, Technology, Engineering, Math)"
df["Q1"]

0     STEM (Science, Technology, Engineering, Math)
1     STEM (Science, Technology, Engineering, Math)
2     STEM (Science, Technology, Engineering, Math)
3     STEM (Science, Technology, Engineering, Math)
4     STEM (Science, Technology, Engineering, Math)
5     STEM (Science, Technology, Engineering, Math)
6     STEM (Science, Technology, Engineering, Math)
7     STEM (Science, Technology, Engineering, Math)
8     STEM (Science, Technology, Engineering, Math)
9     STEM (Science, Technology, Engineering, Math)
10    STEM (Science, Technology, Engineering, Math)
11        Business, Management, Politics, Law, etc.
12    STEM (Science, Technology, Engineering, Math)
13    STEM (Science, Technology, Engineering, Math)
14    STEM (Science, Technology, Engineering, Math)
15    STEM (Science, Technology, Engineering, Math)
Name: Q1, dtype: object

In [50]:
fig = go.Figure()

trace = go.Pie(
    values=[15,1],
    labels=["STEM", "Business"],
    textinfo='label+percent'
)

fig.add_trace(trace)

fig.update_layout(
    title="Data 690 Student Acedemic Background",
    showlegend=False,
    template=np.random.choice(pio.templates)
)

fig.show()

In [52]:
df["Q8"]

0           1997
1     08/28/1999
2           1994
3           1998
4           1996
5           1993
6           2000
7           1998
8           1998
9           1999
10    17/10/1994
11          1995
12          1994
13          1999
14          1997
15          1997
Name: Q8, dtype: object

In [57]:
df.at[1,"Q8"] = 1999
df.at[10,"Q8"] = 1994
df["Q8"]

0     1997
1     1999
2     1994
3     1998
4     1996
5     1993
6     2000
7     1998
8     1998
9     1999
10    1994
11    1995
12    1994
13    1999
14    1997
15    1997
Name: Q8, dtype: object

In [58]:
df["Q8"].unique()

array(['1997', 1999, '1994', '1998', '1996', '1993', '2000', '1999', 1994,
       '1995'], dtype=object)

In [59]:
df["Age"] = 2021 - df["Q8"].astype(int)
df["Age"]

0     24
1     22
2     27
3     23
4     25
5     28
6     21
7     23
8     23
9     22
10    27
11    26
12    27
13    22
14    24
15    24
Name: Age, dtype: int64

In [60]:
df["Age"].describe()

count    16.000000
mean     24.250000
std       2.175623
min      21.000000
25%      22.750000
50%      24.000000
75%      26.250000
max      28.000000
Name: Age, dtype: float64

In [61]:
fig = go.Figure()

trace = go.Box(
    x=df["Age"]
)

fig.add_trace(trace)

fig.show()

In [65]:
df_groups = df.groupby(by="Age").count().reset_index()
df_groups

   Age  Timestamp  Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10  Q11  Q12
0   21          1   1   1   1   1   1   1   1   1   1    1    1    0
1   22          3   3   3   3   3   3   3   3   3   3    3    3    3
2   23          3   3   3   3   3   3   2   3   3   3    3    3    2
3   24          3   3   3   3   3   3   3   3   3   3    3    3    2
4   25          1   1   1   1   1   1   1   1   1   1    1    1    1
5   26          1   1   1   1   1   1   1   1   1   1    1    1    1
6   27          3   3   3   3   3   3   3   3   3   3    3    3    3
7   28          1   1   1   1   1   1   1   1   1   1    1    1    1

In [67]:
fig = go.Figure()

trace = go.Bar(
    x=df_groups["Age"],
    y=df_groups["Timestamp"]
)

fig.add_trace(trace)

fig.show()