<a href="https://colab.research.google.com/github/wcj365/data690fall21/blob/main/assignment_08/in_class_practice_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In Class Practice Session 8
- Name: Jay
- Date: 10/21/21

In [10]:
import pandas as pd
import plotly.express as px

In [11]:
df = pd.read_csv("/content/wdi_data.csv")
df.head()

   Unnamed: 0  Year        value  ...      Region Income Group Lending Type
0           0  2015  2087.305323  ...  South Asia   Low income          IDA
1           1  2016  1981.118069  ...  South Asia   Low income          IDA
2           2  2017  2058.400221  ...  South Asia   Low income          IDA
3           3  2018  2082.635648  ...  South Asia   Low income          IDA
4           4  2019  2152.366489  ...  South Asia   Low income          IDA

[5 rows x 9 columns]

In [12]:
df.sample(10)

      Unnamed: 0  Year  ...         Income Group    Lending Type
2887        2887  2015  ...  Lower middle income             IDA
3037        3037  2015  ...          High income            IBRD
862          862  2020  ...           Low income             IDA
1202        1202  2017  ...          High income  Not classified
1756        1756  2015  ...  Upper middle income            IBRD
734          734  2016  ...          High income  Not classified
2350        2350  2018  ...  Lower middle income           Blend
1115        1115  2015  ...  Lower middle income             IDA
1765        1765  2019  ...  Lower middle income            IBRD
4035        4035  2016  ...  Lower middle income             IDA

[10 rows x 9 columns]

In [13]:
df_2019 = df.query("Year == 2019")

df_2019.sample(10)

      Unnamed: 0  Year  ...         Income Group    Lending Type
3221        3221  2019  ...  Lower middle income            IBRD
2321        2321  2019  ...  Upper middle income            IBRD
1680        1680  2019  ...          High income  Not classified
2585        2585  2019  ...  Lower middle income             IDA
239          239  2019  ...           Low income             IDA
2243        2243  2019  ...          High income  Not classified
1026        1026  2019  ...  Lower middle income           Blend
1402        1402  2019  ...  Upper middle income            IBRD
144          144  2019  ...  Upper middle income            IBRD
2909        2909  2019  ...  Lower middle income             IDA

[10 rows x 9 columns]

In [14]:
df_2019 = df_2019.query("indicator in ['SP.DYN.LE00.IN','NY.GDP.PCAP.PP.CD']")
#  df_2019 = df_2019[df_2019["indicator"].isin(['SP.DYN.LE00.IN','NY.GDP.PCAP.PP.CD'])]

df_2019

      Unnamed: 0  Year  ...         Income Group    Lending Type
4              4  2019  ...           Low income             IDA
10            10  2019  ...  Upper middle income            IBRD
16            16  2019  ...  Lower middle income            IBRD
22            22  2019  ...  Lower middle income            IBRD
28            28  2019  ...          High income            IBRD
...          ...   ...  ...                  ...             ...
2122        2122  2019  ...          High income  Not classified
2127        2127  2019  ...  Lower middle income  Not classified
2132        2132  2019  ...           Low income             IDA
2137        2137  2019  ...  Lower middle income             IDA
2142        2142  2019  ...  Lower middle income           Blend

[390 rows x 9 columns]

In [15]:
df_2019.drop(columns=["Unnamed: 0", "Year"], inplace=True)

df_2019.head()

           value          indicator  ...         Income Group Lending Type
4    2152.366489  NY.GDP.PCAP.PP.CD  ...           Low income          IDA
10  14230.989507  NY.GDP.PCAP.PP.CD  ...  Upper middle income         IBRD
16  11997.337834  NY.GDP.PCAP.PP.CD  ...  Lower middle income         IBRD
22   6952.419362  NY.GDP.PCAP.PP.CD  ...  Lower middle income         IBRD
28  22460.019253  NY.GDP.PCAP.PP.CD  ...          High income         IBRD

[5 rows x 7 columns]

In [25]:
df_pivot = df_2019.pivot_table(index=['Country Code','Country Name','Region','Income Group','Lending Type'], columns='indicator', values='value').reset_index()
df_pivot.head()

indicator Country Code          Country Name  ... NY.GDP.PCAP.PP.CD SP.DYN.LE00.IN
0                  ABW                 Aruba  ...               NaN         76.293
1                  AFG           Afghanistan  ...       2152.366489         64.833
2                  AGO                Angola  ...       6952.419362         61.147
3                  ALB               Albania  ...      14230.989507         78.573
4                  ARE  United Arab Emirates  ...      69957.618075         77.972

[5 rows x 7 columns]

In [27]:
fig = px.scatter(
    df_pivot,
    x="NY.GDP.PCAP.PP.CD",
    y="SP.DYN.LE00.IN",
    title="Health vs Wealth"
)

fig.show()