<a href="https://colab.research.google.com/github/wcj365/data690fall21/blob/main/assignment_04/census_costs_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Census Costs Data Cleansing with Pandas

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/wcj365/data690fall21/main/assignment_04/census_costs.txt", sep="\t", skiprows=1)
print(df)

   Census Year Total Population     Census Cost Average Cost Per Person
0         1790        3,929,214         $44,377              1.13 cents
1         1800        5,308,483         $66,109              1.24 cents
2         1810        7,239,881        $178,445              2.46 cents
3         1820        9,633,822        $208,526              2.16 cents
4         1830       12,866,020        $378,545              2.94 cents
5         1840       17,069,458        $833,371              4.88 cents
6         1850       23,191,876      $1,423,351              6.14 cents
7         1860       31,443,321      $1,969,377              6.26 cents
8         1870       38,558,371      $3,421,198              8.87 cents
9         1880       50,155,783      $5,790,678             11.54 cents
10        1890       62,979,766     $11,547,127             18.33 cents
11        1900       76,303,387     $11,854,000             15.54 cents
12        1910       91,972,266     $15,968,000             17.07 cents
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [ ]:
df["Year"] = df["Census Year"].apply(lambda x: x.replace("*",""))

df["Year"]

0     1790
1     1800
2     1810
3     1820
4     1830
5     1840
6     1850
7     1860
8     1870
9     1880
10    1890
11    1900
12    1910
13    1920
14    1930
15    1940
16    1950
17    1960
18    1970
19    1980
20    1990
21    2000
22    2010
Name: Year, dtype: object

In [ ]:
df["Pop"] = df["Total Population"].apply(lambda x: x.replace(",",""))

df["Pop"]

0       3929214
1       5308483
2       7239881
3       9633822
4      12866020
5      17069458
6      23191876
7      31443321
8      38558371
9      50155783
10     62979766
11     76303387
12     91972266
13    105710620
14    122775046
15    131669275
16    151325798
17    179323175
18    203302031
19    226542199
20    248718301
21    281421906
22    308745538
Name: Pop, dtype: object

In [ ]:
def cleanse_total_cost(total_cost):

    cost = total_cost.replace("$", "").replace(",", "")
    if "Billion" in cost:
        cost = cost.replace(" Billion", "000000000000")
    if ".50" in cost:
        cost = cost.replace(".50", "5")

    return cost

df["Cost"] = df["Census Cost"].apply(cleanse_total_cost)

df["Cost"]

0              44377
1              66109
2             178445
3             208526
4             378545
5             833371
6            1423351
7            1969377
8            3421198
9            5790678
10          11547127
11          11854000
12          15968000
13          25117000
14          40156000
15          67527000
16          91462000
17         127934000
18         247653000
19        1078488000
20        2492830000
21     4500000000000
22    13000000000000
Name: Cost, dtype: object

In [ ]:
def cleanse_average_cost(average_cost):
    
    if "cents" in average_cost:
        cost = average_cost.replace(" cents/", "")
    else:
        cost = average_cost.replace("$", "").replace(".", "")

    return cost

df["Average"] = df["Average Cost Per Person"].apply(cleanse_average_cost)

df["Average"]

0      1.13 cents
1      1.24 cents
2      2.46 cents
3      2.16 cents
4      2.94 cents
5      4.88 cents
6      6.14 cents
7      6.26 cents
8      8.87 cents
9     11.54 cents
10    18.33 cents
11    15.54 cents
12    17.07 cents
13    23.76 cents
14    32.71 cents
15    51.29 cents
16    60.44 cents
17    71.34 cents
18            122
19            476
20           1002
21           1599
22           4211
Name: Average, dtype: object

In [ ]:
pop_list_cleansed = [int(pop.replace(",","")) for pop in pop_list]
pop_list_cleansed

[3929214,
 5308483,
 7239881,
 9633822,
 12866020,
 17069458,
 23191876,
 31443321,
 38558371,
 50155783,
 62979766,
 76303387,
 91972266,
 105710620,
 122775046,
 131669275,
 151325798,
 179323175,
 203302031,
 226542199,
 248718301,
 281421906,
 308745538]

In [ ]:
cost_list = [line.split("\t")[2] for line in data_lines]
cost_list

['$44,377',
 '$66,109',
 '$178,445',
 '$208,526',
 '$378,545',
 '$833,371',
 '$1,423,351',
 '$1,969,377',
 '$3,421,198',
 '$5,790,678',
 '$11,547,127',
 '$11,854,000',
 '$15,968,000',
 '$25,117,000',
 '$40,156,000',
 '$67,527,000',
 '$91,462,000',
 '$127,934,000',
 '$247,653,000',
 '$1,078,488,000',
 '$2,492,830,000',
 '$4.5 Billion',
 '$13 Billion']

In [ ]:
cost_list_cleansed = [cost.replace("$", "") for cost in cost_list]
cost_list_cleansed

['44,377',
 '66,109',
 '178,445',
 '208,526',
 '378,545',
 '833,371',
 '1,423,351',
 '1,969,377',
 '3,421,198',
 '5,790,678',
 '11,547,127',
 '11,854,000',
 '15,968,000',
 '25,117,000',
 '40,156,000',
 '67,527,000',
 '91,462,000',
 '127,934,000',
 '247,653,000',
 '1,078,488,000',
 '2,492,830,000',
 '4.5 Billion',
 '13 Billion']

In [ ]:
cost_list_cleansed = [cost.replace(",", "") for cost in cost_list_cleansed]
cost_list_cleansed

['44377',
 '66109',
 '178445',
 '208526',
 '378545',
 '833371',
 '1423351',
 '1969377',
 '3421198',
 '5790678',
 '11547127',
 '11854000',
 '15968000',
 '25117000',
 '40156000',
 '67527000',
 '91462000',
 '127934000',
 '247653000',
 '1078488000',
 '2492830000',
 '4.5 Billion',
 '13 Billion']

In [ ]:
cost_list_cleansed = [cost.replace(" Billion", "000000000000") for cost in cost_list_cleansed]
cost_list_cleansed

['44377',
 '66109',
 '178445',
 '208526',
 '378545',
 '833371',
 '1423351',
 '1969377',
 '3421198',
 '5790678',
 '11547127',
 '11854000',
 '15968000',
 '25117000',
 '40156000',
 '67527000',
 '91462000',
 '127934000',
 '247653000',
 '1078488000',
 '2492830000',
 '4.5000000000000',
 '13000000000000']

In [ ]:
cost_list_cleansed = [cost.replace(".50", "5") for cost in cost_list_cleansed]
cost_list_cleansed

['44377',
 '66109',
 '178445',
 '208526',
 '378545',
 '833371',
 '1423351',
 '1969377',
 '3421198',
 '5790678',
 '11547127',
 '11854000',
 '15968000',
 '25117000',
 '40156000',
 '67527000',
 '91462000',
 '127934000',
 '247653000',
 '1078488000',
 '2492830000',
 '4500000000000',
 '13000000000000']

In [ ]:
cost_list_cleansed = [int(cost) for cost in cost_list_cleansed]
cost_list_cleansed

[44377,
 66109,
 178445,
 208526,
 378545,
 833371,
 1423351,
 1969377,
 3421198,
 5790678,
 11547127,
 11854000,
 15968000,
 25117000,
 40156000,
 67527000,
 91462000,
 127934000,
 247653000,
 1078488000,
 2492830000,
 4500000000000,
 13000000000000]

In [ ]:
average_list = [line.split("\t")[3] for line in data_lines]
average_list

['1.13 cents\n',
 '1.24 cents\n',
 '2.46 cents\n',
 '2.16 cents\n',
 '2.94 cents\n',
 '4.88 cents\n',
 '6.14 cents\n',
 '6.26 cents\n',
 '8.87 cents\n',
 '11.54 cents\n',
 '18.33 cents\n',
 '15.54 cents\n',
 '17.07 cents\n',
 '23.76 cents\n',
 '32.71 cents\n',
 '51.29 cents\n',
 '60.44 cents\n',
 '71.34 cents\n',
 '$1.22\n',
 '$4.76\n',
 '$10.02\n',
 '$15.99\n',
 '$42.11']

In [ ]:
average_list_cleansed = [average.replace("cents\n", "").replace("\n","") for average in average_list]
average_list_cleansed

['1.13 ',
 '1.24 ',
 '2.46 ',
 '2.16 ',
 '2.94 ',
 '4.88 ',
 '6.14 ',
 '6.26 ',
 '8.87 ',
 '11.54 ',
 '18.33 ',
 '15.54 ',
 '17.07 ',
 '23.76 ',
 '32.71 ',
 '51.29 ',
 '60.44 ',
 '71.34 ',
 '$1.22',
 '$4.76',
 '$10.02',
 '$15.99',
 '$42.11']

In [ ]:
avg_list_cleansed = []
for avg in average_list_cleansed:
    if "$" in avg:
        avg =round(float(avg.replace("$","")),2)
    else:
        avg = round(float(avg) / 100, 2)
    avg_list_cleansed.append(avg)

avg_list_cleansed

[0.01,
 0.01,
 0.02,
 0.02,
 0.03,
 0.05,
 0.06,
 0.06,
 0.09,
 0.12,
 0.18,
 0.16,
 0.17,
 0.24,
 0.33,
 0.51,
 0.6,
 0.71,
 1.22,
 4.76,
 10.02,
 15.99,
 42.11]

In [ ]:
with open("census_costs2.txt", "w") as f:
    f.writelines([top2_lines[0]])
    f.writelines([top2_lines[1]])
    for i in range(len(year_list_cleansed)):
        f.write(year_list_cleansed[i])
        f.write(",")
        f.write(str(pop_list_cleansed[i]))
        f.write(",")
        f.write(str(cost_list_cleansed[i]))
        f.write(",")
        f.write(str(avg_list_cleansed[i]))
        f.write("\n")